/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.button_hover:hover .hover_icon {
  margin-left: 1.5rem;
  transition: ease-in-out 0.3s;
}

.hover_icon {
  transition-duration: 200ms;
}
